@model GigHub.ViewModels.GigViewModel
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gigs"))
{
<div class="form-group">
    <div id="search-gigs" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search for a Gig" })
        <span class="input-group-addon" id="basic-addon2">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
</div>
}

<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcominGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.UserName
                    @if (Model.ShowActions)
                    {
                        <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm top js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">@gig.Genre.Name</span>
                @if (gig.IsCanceled)
                {
                    <label class="label label-warning">Canceled</label>
                }
                else if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Goin?</button>
                }
            </div>
        </li>
    }
</ul>

@section Scripts{
<script>
    $(document).ready(function () {
        $(".js-toggle-attendance").click(function (e) {
            var button = $(e.target);
            $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function (error) {
                    console.log("error:");
                    console.log(error);
                    alert(error.responseJSON.message);
                });
        });
        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { followeeId: button.attr("data-artist-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Following");
                })
                .fail(function (error) {
                    console.log("error:");
                    console.log(error);
                    alert(error.responseJSON.message);
                });
        });
    });
</script>
}